<footer class="footer">
    <p>&copy; 2024 DishDash. All rights reserved.</p>
    <p>Contact Us: info@dishdash.com</p>
    <div class="social-media-links">
        <a href="/">Facebook</a> |
        <a href="/">Twitter</a> |
        <a href="/">Instagram</a>
    </div>
    <nav class="footer-nav">
        <a href="#magic-happens">How the Magic Happens</a> |
        <a href="#featured-meals">Featured Meals</a>
    </nav>
    <div>
        <p>By submitting this assignment I declare that this assignment is my own work in accordance with 
            the Seneca Academic Policy. No part of this assignment has been copied manually or 
            electronically from any other source (including web sites) or distributed to other students.</p>
            <p>© Carlos Amaya, camaya-rengifo@myseneca.ca, WEB322 Winter 2024</p>
    </div>
</footer>
