<div class="welcome-container">
    <h1 class="welcome">Welcome to Our Site!</h1>
    <p class="welcomeSub">We're pumped you're here.</p>
    <img class="happy" src="/images/happy.webp" alt="Me when someone registers for my website">
</div>

